/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*font import*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

.form-block{
width: 350px;
position: relative;
left: 50%;
transform: translateX(-50%);
padding: 20px;
background: rgba(0,0,0,.6);
}

/* foundation imports */
.button{
  -webkit-appearance: none;
  position: relative;
  text-align: center;
  font-size: 1.4em;
  border:none;
  color: #000;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 15px;
  transition: background 0.15s ease-in-out;
}
.button.delete{
  color: #fff;
  background: rgba(198, 23, 23, 1);
}
.button.delete:hover{
  background: rgba(198, 23, 23, .7);
}
.link.delete{
  color: rgb(198, 23, 23);
}
.button:hover{
  background: rgba(255, 255, 255, .8);
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	padding: 5px 20px 13px 20px;
	background: rgba(255,255,255,.8)
}
.close {
	color: #FFFFFF;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.alert-box {
  display: block;
  visibility: visible;
  opacity: 1;
  font-size: 0.8125rem;
  font-weight: 600;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: fixed;
  z-index: 1;
	left: 60%;
	right: 10%;
	bottom: 50px;
  transition: opacity 300ms ease-out;
  background-color: rgba(0,250,150,0.8);
  color: #FFFFFF;
  transition: opacity .3s ease-in-out;
 }
  .alert-box .close {
    right: 0.25rem;
    color: #fff;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.7;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%;
    transition: opacity .2s ease-in-out;
   }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 1; }
  .alert-box.radius {
    border-radius: 3px; }
  .alert-box.round {
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #43AC6A;
    border-color: #3a945b;
    color: #FFFFFF; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; }
  .alert-box.warning {
    background-color: #f08a24;
    border-color: #de770f;
    color: #FFFFFF; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; }
  .alert-box.alert-close {
    opacity: 0; }
  .alert-checkbox{
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    left: -200px;
  }
  .alert-checkbox:checked ~ .alert-box {
    pointer-events: none;
    opacity: 0;
  }

  td em {
    color: #fff;
    font-size: .8rem;
  }
/* algemene styling */
html, body {
	margin: 0px;
	padding 0px;
	background-color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
.clearer {
	clear: both;
}
* {
	font-family: 'Quicksand', sans-serif;
}
input{
	outline: none;
}
label:hover{
	cursor: pointer;
}
.pagina-titel{
	color: #fff;
	font-size: 3.5em;
	font-weight: 500;
	margin: 40px 0px 10px 30px;
	text-transform: uppercase;
}
.size-2{
	font-size: 1.7em;
}

.Signup_Errors{
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

.Signup_Errors li{
	background-color: rgba(255, 0, 42, 0.7);
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 3px;
}

/* algemene header */
.mobile-search-box{
	display: none;
}
header{
	height: 50px;
	width: 100vw;
	position: fixed;
	top: 0px;
	z-index: 1500;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 94%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 94%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 94%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
header::after{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  z-index: -1;
  opacity: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.2) 94%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.2) 94%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.2) 94%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  transition: opacity .2s ease-in-out;
}
header:hover::after{
  opacity: 1;
}
input[type=checkbox]#toggle-mob-menu{
    display: none;
	}

header .logo img {
	height: 45px;
	margin-top: 2px;
	margin-left: 10px;
	transition: opacity 0.15s ease-in-out;
	opacity:1;
}
header .logo img:hover {
	opacity:0.7;
}

header .mainNav {
	position: absolute;
	top: 0px;
	left: 175px;
}
header .mainNav ul {
	list-style-type: none;
}
header .mainNav ul li {
	float: left;
	margin-right: 25px;
}
header .mainNav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}
header .mainNav ul li a:hover{
	color: #ccc;
}

header .logNav ul{
  list-style: none;
  float:right;
}
header .logNav ul li{
  float: left;
}
header .logNav ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}
header .logNav ul li a.sign_btn{
  padding: 4px 11px;
    border: 1px solid #fff;
    border-radius: 31px;
    text-transform: uppercase;
    margin-left: 10px;
}

header .logNav ul li a.sign_btn.filled{
    background: #fff;
    color: #000;
}
header .logNav ul li a.sign_btn:hover{
  color: #000;
  background: #fff;
}
header .logNav ul li a.sign_btn.filled:hover{
  color: #fff;
  background: none;
}

header .righthead{
	position: absolute;
	right: 25px;
	top: 5px;
	height: 45px;
}
header .righthead input[type=search] {
	-webkit-appearance: none;
	background: rgba(255,255,255,0.4);
	height: 35px;
	width: 120px;
	margin-top: 2px;
	position: absolute;
	right: 50px;
	border: 0px;
	border-radius: 3px;
	color: rgba(200,200,200,1);
	font-size: 1.2em;
	font-weight: 500;
	transition: width 0.4s ease-in-out, color 0.4s, background 0.4s ease-in-out;
}
header .righthead input[type=search]::-webkit-input-placeholder {
	color: rgba(200,200,200,1);
}
header .righthead input[type=search]:focus {
	background: rgba(255,255,255,1);
	color:#000;
	width: 200px;
}
header .righthead input[type=search]:focus::-webkit-input-placeholder, header .righthead input[type=search]:focus::-webkit-search-cancel-button{
	color: rgba(100,100,100,1);
}
header .righthead img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute; top: 0px;
	right: 0px;
	margin-left: 10px;
	transition: opacity 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
header .righthead img:hover{
	opacity: 0.7;
}
header .righthead .profile-menu {
	position: absolute;
	top:57px;
	width: 200px;
	right:0px;
	background: rgba(255,255,255,.9);
	opacity: 0;
	display:none;
	transition: opacity 0.1s ease-in-out;
}
header .righthead .profile-menu ul{
	list-style: none;
}
header .righthead .profile-menu ul li{
	margin-top: 5px;
}
header .righthead .profile-menu::after{
	position: absolute;
	display: inline-block;
	top: -13px;
	right: 10px;
    border-right: 10px solid transparent;
    border-bottom: 13px solid rgba(255,255,255,0.9);
    border-left: 10px solid transparent;
    content: '';
}
input[type=checkbox]#show-profile-menu{
    display: none;

}
header input[type=checkbox]#show-profile-menu:checked ~ .remove-check{
    display: none;
}
header input[type=checkbox]#show-profile-menu:checked ~ .profile-menu{
    opacity: 1;
	display: block;
}

header .righthead .profile-menu a:active, header .righthead .profile-menu a:visited , header .righthead .profile-menu a:link{
	color:#000;
	text-decoration: none;
	transition: margin-left 0.1s ease-in-out;
}
header .righthead .profile-menu a:hover{
	margin-left: 10px;
}




/* login homepage */
.form-wrapper{
	min-height: 100vh;
	width: auto;
	background: url(https://c2.staticflickr.com/4/3794/8845312725_5f5357898f_h.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.form-wrapper .login-form{
	width: 350px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 16vh;
	padding: 20px;
	background: rgba(0,0,0,.6);
}
.form-wrapper .login-form table tbody, .form-wrapper .login-form table{
	width: 350px;
}
.form-wrapper .login-form .log-btn {
	float: left;
	position: relative;
	text-align: center;
	font-size: 1.4em;
	width: calc((100% - 7px)/2);
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 0px;
	transition: background 0.15s ease-in-out;
}
.form-wrapper .login-form .aanmelden-btn{
	margin-right: 1px;
}
.form-wrapper .login-form a:active .log-btn, .form-wrapper .login-form a:visited .log-btn, .form-wrapper .login-form a:link .log-btn{
	color: #000;
}
.form-wrapper .login-form a:hover .log-btn{
	background: rgba(255, 255, 255, 1);
}
.active-form{
	background-color: rgba(0, 0, 0, 0.3) !important;
	color: #9d9d9d !important;

}
label{
	color: #fff;
	font-size: 1.3em;
}
input[type="text"], input[type="password"], input[type="email"], textarea{
	-webkit-appearance: none;
	width: calc(100% - 16px);
	height: 30px;
	border: 0px;
	margin: 7px 0px;
	font-size: 1.3em;
	padding: 5px;
}
.form-wrapper .login-form select{
	-webkit-appearance: none;
	width: calc(100% - 6px);
	height: 40px;
	border: 0px;
	margin: 7px 0px;
	font-size: 1.3em;
	padding-left: 10px;
	background: url(images/drop_down_arrow-black.png) no-repeat right #fff;
	background-size: 7%;
	background-position-x: calc(100% - 10px);
	border-radius: 0px;
}
.form-wrapper .login-form input[type="submit"]{
	-webkit-appearance: none;
	width: calc(100% - 6px);
	height: 60px;
	border: 0px;
	font-size: 3em;
	margin: 7px 0px;
	background-color: rgba(255, 255, 255, 0.8);
	transition: background 0.1s ease-in-out;
}
.form-wrapper .login-form input[type="submit"]:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 1);
}
.forgot-links a:active, .forgot-links a:visited, .forgot-links a:link{
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	font-size: 0.7em;
	transition: color 0.1s ease-in-out;
}
.forgot-links a:hover{
	color: #fff;
}
.forgot-links .right-forgot{
	text-align: right;
}

/* main homepage */
.wrapper{

	z-index: 1;
	overflow: hidden;
}
.wrapper .banner{
	width: auto;
	height: 85vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
  position: relative;
}
.wrapper .banner::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 8%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 8%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 8%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}
.cover-info{
	background: rgba(0,0,0,.7);
	padding: 5px;
	padding-left: 35px;
	position: absolute;
	margin-top: -80px;
}
.cover-info a{
	color: #fff;
	text-decoration: none;
	transition: margin-left .2s ease-in-out;
}
.cover-info a:hover {
	margin-left: 25px;
}
.searchbar {
	position: absolute;
	z-index: 10;
	height:100px;
	width: 60vw;
	background: rgba(0,0,0,.7);
	top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.border{
	box-shadow: 0px 0px 5px #fff;
	border: 1px solid #fff;
}
.zoek-error-msg{
	color: #fff;
	position: absolute;
	top: 25vh;
	width: 100%;
	text-align: center;
	font-size: 4em;
	font-weight: 500;
	text-shadow: 0px 0px 10px #000;
}
.searchbar input[type="search"] {
	-webkit-appearance: none;
	height: 100px;
	width: 46vw;
	background: rgba(0,0,0,0.01);
	color: #fff;
	font-size: 3.5em;
	font-weight: 300;
	border: none;
	margin-right: 0.3vw;
	padding-left: 10px;
}
.searchbar input[type="search"]:focus{
	outline:none;
}
.searchbar input[type="search"]:focus::-webkit-input-placeholder{
	color: #cecece;
}
.searchbar input[type="submit"] {
	-webkit-appearance: none;
	height: 92px;
	background: #fff;
	font-size: 4em;
	position: absolute;
	border: 0px;
	margin-right: 4px;
	margin-top: 4px;
	right: 0px;
}
input[type="submit"]:hover {
	cursor: pointer;

}

.user-thumb {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  opacity: .9;
}
.user-thumb:hover{
  opacity: 1;
}


/* fotodetail pagina */
.foto-wrapper{
	z-index: 1;
	width: 100vw;
	height: calc(80vh + 50px);

	overflow: hidden;
	opacity: 0.6;
	-webkit-filter: blur(25px); -moz-filter: blur(25px); -o-filter: blur(25px); -ms-filter: blur(25px); filter: blur(25px);
}
.foto-big{

	width:100vw;
	height: 80vh;
	position:absolute;
	top: 50px;
	pointer-events: none;
}

#foto-info{
	color: #999;
	background:rgb(33, 33, 33);
	padding: 0px 40px;
  display: inline-block;
  width: 100%;

}
.foto-titel{
	text-transform: uppercase;
	width: 90vw;
	color: #fff;
	padding: 20px 0px;
	font-weight: 400;
	font-size: 3em;
}

.profiel-img-klein{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	overflow: hidden;
}
.profiel-img-klein-inner{
	display: inline-block;
    position: relative;
    right: -50%;
	text-align: center;
}
.profiel-img-klein img{
	height: 100px;
	position: relative;
    left: -50%;
	margin: 0px -100%;
}

.button.tiny {
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
    font-size: 0.6875rem;
}

/* upload page styling */

.upload-wrapper{
	margin-top: 60px;
	color: #fff;
	padding: 0px 2.5vw;
}

input[type=file]::-ms-browse, input[type=file]::-webkit-file-upload-button, input[type=file] > input[type=button]::-moz-focus-inner  {
	background: #fff;
	color: #000;
}

.inputBtnSection {
    display:inline-block;
    vertical-align:top;
    font-size:0;
    font-family:verdana;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    border:solid 1px gray;
    display:inline-block;
    vertical-align:top;
}
.uploadBtn {
    display:inline-block;
    vertical-align:top;
    background:rgba(0, 0, 0, 0.5);
    font-size:14px;
    padding:25px;
    color:#fff;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
	height: 100%;
}

/* footer styling*/
footer {
	width: 100vw;
	text-align: center;
	background: #0d0d0d;
	color: #fff;
	z-index: 1200;
	display: inline-block;
}

footer ul {
	list-style-type: none;
	width: 100vw;
	padding: 0px;
	margin: 0px;
}

ul#footerLeft {

}

ul#footerLeft li {
	float:left;
	margin: 1em;
}

ul#footerRight {

	cursor: default;
}
ul#footerRight li {
	float: right;
	margin: 1em;
}

footer a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}
footer a:hover {color: #ccc;}




/* Styling profile page */
.profile-wrapper{

}

.profile-banner{
	height: 50vh;
	background: url(http://images3.alphacoders.com/266/266779.jpg) center center no-repeat;
	background-size: cover;
	right: 0;
	bottom: 0;
	left: 0;
  position: relative;
}

section#profile {
	height: 100vh;
	width: 30vw;

}

.profile-container{
	width: 100vw;
	background: #000;
	padding: 15px 0px;
	margin: 0px auto;
  position: relative;
}
.profile-banner::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.90) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.90) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.profile-container-inner{
	top: 0px;
	position: relative;
}

.profile-info{
  margin-top: -90px;
}
.profile-info h1{
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  margin: 0px;
}

div#Avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
  margin-right: 50px;
  margin-top: -40px;
	overflow: hidden;
	float: left;
	z-index: 100;
  box-shadow: 0px 0px 10px #333;
  border: 1px solid transparent;
}

.edit-prof-img{
	position: relative;
	width: 100%;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	text-align: center;
	font-weight: 500;
	color: #fff;
	background: rgba(0,0,0,.5);
	height: 50%;
	padding-top: 10px;
	text-transform: uppercase;
	transition: transform .2s ease-in-out;
	transition: -webkit-transform .2s ease-in-out;
	z-index: 50;
}
.edit-prof-img a{
	color:#fff;
	text-decoration: none;
}
div#Avatar:hover > .edit-prof-img{
	-webkit-transform: translateY(-80px);
}

div#Avatar img{
	width: 100%;
}

div.selector {
	background: white;
color: black;
font-size: 1.4em;
padding: 10px 15px;
text-align: center;
text-transform: uppercase;
margin: 0px;
float: left;
margin-right: 2px;
}

.profile-selectors a:active , .profile-selectors a:visited , .profile-selectors a:link  {
	color: black;
	text-decoration: none;
}

div.active-selector {
	background-color: rgba(0, 0, 0, 0.0) !important;
	color: #9d9d9d !important;
}

div.fotos-selector {
	left: 15vw;
}

.profile-data{
	color: #fff;
	padding: 15px;
	width: 100%;
	margin-top: 50px;
}

.profile-data tbody tr td{
	padding: 10px;
}
.profile-data tbody tr:nth-child(odd){
	background: rgba(0,0,0,.2);
}


/* contact pagina */


.contact-wrapper{
	top: 0px;
	padding-top: 50px;
	background:url(https://c1.staticflickr.com/1/157/374880166_6493443e29_b.jpg) center center no-repeat ;
	background-size: cover;
	width: 100vw;
	min-height: 90vh;
}

.contact-map{
	position: absolute; top: 539px; left: 0;
	width: 100vw;
}


.team-bubbles{
	width: 100%;
	max-width: 67.5em;
	margin: 0px auto;
}
.team-member{
	width: 25%;
	float: left;
}
.team-member-inner{
	background: black;
	height: 300px;
	width: 80%;
	margin: 0px auto;
	border-top-left-radius: 999px;
	border-top-right-radius: 999px;
	color: #fff;
	text-align: center;
	display: inline-block;
}
.team-member-image{
	width: 90%;
	overflow: hidden;
	border-radius: 50%;
	margin: 11px auto;
}
.team-member-image img {
	width: 100%;
	vertical-align: middle;
}

/* hoe wat waarom pagina's */
.hoe-wrapper{
	top: 0px;
	padding-top: 50px;
	background:url(http://www.hdwallpaperscool.com/wp-content/uploads/2014/10/piano-best-hd-cool-wallpapers-for-background-full-free.jpg) center center no-repeat ;
	background-size: cover;
	width: 100vw;
	min-height: calc(100vh - 100px);
}

.hoe-info {
	color:#FFF;
	width: 90vw;
	background: rgba(0,0,0,.5);
	padding: 15px;
	margin: 0px auto;
	margin-top: 50px;
}

.wat-wrapper{
	top: 0px;
	padding-top: 50px;
	background:url(http://www.wallpaperdom.com/wp-content/uploads/2014/05/acoustic-guitars-wallpaper-hd-10.jpg) center center no-repeat ;
	background-size: cover;
	width: 100vw;
	min-height: calc(100vh - 100px);
}

.waarom-wrapper{
	top: 0px;
	padding-top: 50px;
	background:url(http://th06.deviantart.net/fs71/PRE/f/2011/332/8/5/drum_wallpaper_by_lazymoeron-d4hlcpp.jpg) center center no-repeat ;
	background-size: cover;
	width: 100vw;
	min-height: calc(100vh - 100px);
}
/* albums styling */
.album-wrapper{
	margin: 0px auto;
	min-height: calc(100vh - 131px);
	padding: 0px 4vw;
	padding-top: 60px;
	padding-bottom: 15px;
	top: 0px;
	color:#FFF;

}

.album-nav{
	width: 150px;
	float: left;
	display: inline-block;

}
.album-nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.album-nav ul li{

	padding: 5px 10px;
}
.album-nav ul li a{
	color: #fff;
}

.album-container{
	width: calc(100% - 150px);
	float:left;
}
.album-row{
	width: 100%;
	height: 14vw;
	margin: 10px auto;
	display: inline-block;
	overflow:hidden;
}
.albumimg{
	width: 20%;
	height: 14vw;
	overflow: hidden;
	float: left;
}
.albumimg img{
	height: 100%;
}
.album-row-titel{
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
	display: inline-block;
	width: 100%;
	height: 75px;
	padding: 10px 0px 0px 15px;
	background: rgba(0,0,0,.6);
	position: relative;
	top: -50px;
	transition: transform .4s ease-in-out;
	-webkit-transition: -webkit-transform .4s ease-in-out;
}
.album-row-titel span {
	font-weight: 400;
	font-size: 0.6em;
}
.album-row:hover .album-row-titel{
	transform: translateY(-25px);
	-webkit-transform: translateY(-25px);
}

/*  ///////  bandpagina styling  ////////  */

.band-wrapper{
	min-height: 100vh;
	width: 100vw;
}
.band-cover{
	width: 100vw;
	height: 35vw;
	overflow: hidden;
	background-position: top;
}
.band-cover img{
	width: 100%;
}
.band-cover-naam{
	width: calc(100vw - 40px);
	background: rgba(0,0,0,.6);
	color: #fff;
	font-size: 4em;
	font-weight: 500;
	padding: 20px;
	position: absolute;
	top: 35vw;
	margin-top: -115px;
}
/* zoeken en grid styling */

.albums-wrapper{
	padding-top: 50px;
	width: 100vw;
	min-height: calc(100vh - 100px);
	display: inline-block;
}
#fotogrid {
    width: 95%;
    margin: auto;
    }
.item {
   	width: calc(25% - 4px);
	background: #fff;
	float: left;
	overflow: hidden;
	margin: 2px;
	transition: opacity .2s ease-in-out;
    }

.item:hover{
	opacity: .8;
}
.horizontaal{
	height: 13vw;
}
.verticaal{
	height: 13vw;
}
.item img{
	width: 100%;
}
.foto-data{
	margin-top: 13vw;
	padding-top: 5px;
	padding-left: 10px;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	height: 4vw;
	width: 101%;
	position: relative;
	transform: translateY(0vw);
	-webkit-transform: translateY(0vw);
	transition: transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.item:hover > .foto-data{
	transform: translateY(-4vw);
	-webkit-transform: translateY(-4vw);
}
.profiel-thumb{
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
	margin: 0px 10px;
	overflow: hidden;
	display: inline-block;
	float: left;
	text-align: center;
	position: relative;
	z-index: 10;
}
.profiel-thumb img{
	height: 100%;
	vertical-align: middle;
	transition: transform .2s ease-in-out;
	-webkit-transition: -webkit-transform .2s ease-in-out;
	position: relative;
	z-index: 0;
	margin: 0px -100%;
}
.profiel-thumb:hover img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.profiel-thumb .prof-thumb-name{
	transform: translateY(-8vw);
	-webkit-transform: translateY(-8vw);
	color: #fff;
	background: rgba(0,0,0,.6);
	width: 100%;
	height: 57%;
	padding-top: 45%;
	text-align: center;
	opacity: 0;
	transition: opacity .2s ease-in-out;
}
.profiel-thumb .prof-thumb-name:hover {
	opacity: 1;
}

.thumb-image{
  width: 8vw;
}
/* error styling */

@media (max-width: 48em) {


	.pagina-titel {
		color: #fff;
		font-size: 1.4em;
		font-weight: 500;
		margin: 40px 0px 10px 10px;
		text-transform: uppercase;
	}

	header{
		height: 50px;
		width: 100vw;
		background: rgba(0,0,0,0.40);
		position: fixed;
		top: 0px;
		z-index: 1500;
	}

	.button-mob-menu{
		height: 50px;
		width: 50px;
		left: 5px;
		position: absolute;
	}
	input[type=checkbox]#toggle-mob-menu{
    display: none;
	}
	header input[type=checkbox]#toggle-mob-menu:checked ~ .remove-check{
		display: none;
	}
	header input[type=checkbox]#toggle-mob-menu:checked ~ .mainNav{
	   left: 0px;
	}

	header .button-mob-menu span{
		background: white;
		height: 5px;
		width: 30px;
		position: absolute;
		left: 10px;
	}
	header .button-mob-menu span:nth-child(1){
		top: 10px;
	}
	header .button-mob-menu span:nth-child(2){
		top: 20px;
	}
	header .button-mob-menu span:nth-child(3){
		top: 30px;
	}
	header .logo img {
		height: 40px;
		position: absolute;
		margin-left: -59.5px;
		margin-top: 5px;
		transition: none;
		left: 50vw;
	}
	header .righthead .profile-menu{
		width: 70vw;
	}
	.righthead input[type=search]{
		display:none;
	}
	header .mainNav{
		top: 50px;
		position:absolute;
		left: -270px;
		background: rgba(0,0,0,.8);
		transition: left 0.4s ease-in-out;
	}
	header .mainNav ul li{
		float: none;
		margin-top: 15px;
	}

	.mobile-search-box{
		display: inline-block;
	}
	.mobile-search-box input{

		-webkit-appearance: none;
		border: 0px;
		background: rgba(0,0,0,1);
		padding: 5px;
		font-size: 1em;
		color: #fff;
		border-bottom: 1px solid #fff;
		height: 40px;
	}

	.form-wrapper{
		height: 100vh;
		width: auto;
		background: url(http://wallpaperscraft.com/image/80452/1080x1920.jpg) center center no-repeat;
		padding-top: 80px;
		height: auto;
		padding-bottom: 30px;
	}
	.login-form{
		width: 250px !important;
		margin: 0px auto;
	}
	.form-wrapper .login-form table tbody, .form-wrapper .login-form table{
	width: 250px !important;
	}
	.form-wrapper .login-form .log-btn {
		float: left;
		position: relative;
		text-align: center;
		font-size: 1em;
		width: 49%;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 10px 0px;
	}
	.form-wrapper .login-form .aanmelden-btn{
		margin-right: 1px;
	}
	.form-wrapper .login-form a:active .log-btn, .form-wrapper .login-form a:visited .log-btn, .form-wrapper .login-form a:link .log-btn{
		color: #000;
	}
	.active-form{
		background-color: rgba(0, 0, 0, 0.3) !important;
		color: #9d9d9d !important;

	}
	.form-wrapper .login-form label{
		color: #fff;
		font-size: 1em;
	}
	.form-wrapper .login-form input[type="text"], .form-wrapper .login-form input[type="password"], .form-wrapper .login-form input[type="email"]{
		-webkit-appearance: none;
		width: 94%;
		height: 30px;
		border: 0px;
		margin: 7px 0px;
		font-size: 1.3em;
		padding: 5px;
	}
	.form-wrapper .login-form select{
		-webkit-appearance: none;
		width: 94%;
		height: 40px;
		border: 0px;
		margin: 7px 0px;
		font-size: 1.3em;
		padding-left: 10px;
		background: url(images/drop_down_arrow-black.png) no-repeat right #fff;
		background-size: 7%;
		background-position-x: calc(100% - 10px);
		border-radius: 0px;
	}
	.form-wrapper .login-form input[type="submit"]{
		-webkit-appearance: none;
		width: 98%;
		height: 60px;
		border: 0px;
		font-size: 2.2em;
		margin: 7px 0px;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.forgot-links a:active, .forgot-links a:visited, .forgot-links a:link{
		color: rgba(255, 255, 255, 0.8);
		font-weight: bold;
		font-size: 0.5em;
		transition: color 0.1s ease-in-out;
	}



	.wrapper{
		z-index: 1;
		overflow: hidden;
	}
	.wrapper .banner{
		width:auto;
		height: 50vh;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.cover-info{
		background: rgba(0,0,0,.7);
		padding: 5px;
		padding-left: 35px;
		position: absolute;
		margin-top: -60px;
		font-size: .5em;
	}
	.searchbar {
		position: absolute;
		z-index: 10;
		height: 58px;
		width: 90vw;
		background: rgba(0,0,0,.7);
		top: 30vh;
		left: 50%;
		transform: translateX(-50%);
	}

	.searchbar input[type="search"] {
		-webkit-appearance: none;
		height: 60px;
		width: 46vw;
		background: rgba(0,0,0,0.01);
		color: #fff;
		font-size: 2.5em;
		font-weight: 300;
		border: none;
		margin-right: 0.3vw;
		padding-left: 10px;
	}
	.searchbar input[type="search"]:focus{
		outline:none;
	}

	.searchbar input[type="search"]:focus::-webkit-input-placeholder{
		color: #cecece;
	}

	.searchbar input[type="submit"] {
		height: 50px;
		background: #fff;
		font-size: 2em;
		position: absolute;
		border: 0px;
		margin-right: 4px;
		margin-top: 4px;
		right: 0px;
	}

	/* styling zoeken page - mobile */

	.item {
   		width: 100vw;
		height: 65vw;
	}
	.foto-data{
		margin-top: 47vw;
		padding-top: 5px;
		padding-left: 10px;
		background-color: rgba(0,0,0,.7);
		color: #fff;
		height: 25vw;
		width: 100%;
		position: relative;
	}

	/* Styling profile page */
	div#Avatar {
		width: 20vw!important;
		height: 20vw!important;
		border-radius: 50%;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		overflow: hidden;
		position: absolute;
		top: -20vw;
		left: 50%!important;
    margin-top: -75px;
    transform: translateX(-50%);
	}

  .profile-info{
    text-align: center;
  }

	table.profile{
		width: 20vw;
		position: absolute;
		top: 85vw;
		left: 0vw!important;
	}
	.foto-wrapper{
		z-index: 1;
		width: 100vw;
		height: 80vw;
		overflow: hidden;
		opacity: 0.6;
		-webkit-filter: blur(25px);
		-moz-filter: blur(25px);
		-o-filter: blur(25px);
		-ms-filter: blur(25px);
		filter: blur(25px);
	}
	.foto-big {
		width: 100vw;
		height: 80vw;
		position: absolute;
		top: 50px;
		pointer-events: none;

	}

	.zoek-error-msg {
		color: #fff;
		position: absolute;
		top: 17vh;
		width: 100%;
		text-align: center;
		font-size: 1.5em;
		font-weight: 600;
		text-shadow: 0px 0px 10px #000;
	}

	.band-cover {
		width: 100vw;
		height: 50vh;
		overflow: hidden;
		background-position: center center !important;
	}
	.band-cover-naam {
		width: 100vw;
		background: rgba(0,0,0,.6);
		color: #fff;
		font-size: 1.5em;
		font-weight: 500;
		padding: 10px 0px;
		text-indent: 10px;
		position: absolute;
		top: 60vh;
		margin-top: -120px;
	}

	footer {
		width: 100vw;
		text-align: center;
		background: #222;
		color: #fff;
		z-index: 1200;
		padding: 25px 0px;
	}

	footer ul {
		list-style-type: none;
		width: 100vw;
		padding: 0px;
		margin: 0px;
	}

	ul#footerLeft {

	}

	ul#footerLeft li {
		float: none;
		margin: 1em;
	}

	ul#footerRight {
		cursor: default;
	}
	ul#footerRight li {
		float: none;
	}

	ul#footerLeft li a {
		text-decoration: none;
		color: #fff;
		font-weight: 500;
		transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
	}
	ul#footerLeft li a:hover {color: #ccc;}
}
.row {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto; }
  .row::before, .row::after {
    content: ' ';
    display: table; }
  .row::after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem; }
    .row .row.collapse {
      margin-left: 0;
      margin-right: 0; }
  .row.small-collapse > .column, .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.small-uncollapse > .column, .row.small-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  @media screen and (min-width: 40em) {
    .row.medium-collapse > .column, .row.medium-collapse > .columns {
      padding-left: 0;
      padding-right: 0; }
    .row.medium-uncollapse > .column, .row.medium-uncollapse > .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  @media screen and (min-width: 64em) {
    .row.large-collapse > .column, .row.large-collapse > .columns {
      padding-left: 0;
      padding-right: 0; }
    .row.large-uncollapse > .column, .row.large-uncollapse > .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .row.expanded {
    max-width: none; }

.column, .columns {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  box-sizing: border-box;
}
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right; }
  .column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left; }

.column.row.row, .row.row.columns {
  float: none; }
  .row .column.row.row, .row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

.small-1 {
  width: 8.33333%; }

.small-push-1 {
  position: relative;
  left: 8.33333%; }

.small-pull-1 {
  position: relative;
  left: -8.33333%; }

.small-offset-0 {
  margin-left: 0%; }

.small-2 {
  width: 16.66667%; }

.small-push-2 {
  position: relative;
  left: 16.66667%; }

.small-pull-2 {
  position: relative;
  left: -16.66667%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-3 {
  width: 25%; }

.small-push-3 {
  position: relative;
  left: 25%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-4 {
  width: 33.33333%; }

.small-push-4 {
  position: relative;
  left: 33.33333%; }

.small-pull-4 {
  position: relative;
  left: -33.33333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-5 {
  width: 41.66667%; }

.small-push-5 {
  position: relative;
  left: 41.66667%; }

.small-pull-5 {
  position: relative;
  left: -41.66667%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-6 {
  width: 50%; }

.small-push-6 {
  position: relative;
  left: 50%; }

.small-pull-6 {
  position: relative;
  left: -50%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-7 {
  width: 58.33333%; }

.small-push-7 {
  position: relative;
  left: 58.33333%; }

.small-pull-7 {
  position: relative;
  left: -58.33333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-8 {
  width: 66.66667%; }

.small-push-8 {
  position: relative;
  left: 66.66667%; }

.small-pull-8 {
  position: relative;
  left: -66.66667%; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-9 {
  width: 75%; }

.small-push-9 {
  position: relative;
  left: 75%; }

.small-pull-9 {
  position: relative;
  left: -75%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-10 {
  width: 83.33333%; }

.small-push-10 {
  position: relative;
  left: 83.33333%; }

.small-pull-10 {
  position: relative;
  left: -83.33333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-11 {
  width: 91.66667%; }

.small-push-11 {
  position: relative;
  left: 91.66667%; }

.small-pull-11 {
  position: relative;
  left: -91.66667%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-12 {
  width: 100%; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-up-1 > .column, .small-up-1 > .columns {
  width: 100%;
  float: left; }
  .small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: left; }

.small-up-2 > .column, .small-up-2 > .columns {
  width: 50%;
  float: left; }
  .small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: left; }

.small-up-3 > .column, .small-up-3 > .columns {
  width: 33.33333%;
  float: left; }
  .small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: left; }

.small-up-4 > .column, .small-up-4 > .columns {
  width: 25%;
  float: left; }
  .small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: left; }

.small-up-5 > .column, .small-up-5 > .columns {
  width: 20%;
  float: left; }
  .small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: left; }

.small-up-6 > .column, .small-up-6 > .columns {
  width: 16.66667%;
  float: left; }
  .small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: left; }

.small-up-7 > .column, .small-up-7 > .columns {
  width: 14.28571%;
  float: left; }
  .small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: left; }

.small-up-8 > .column, .small-up-8 > .columns {
  width: 12.5%;
  float: left; }
  .small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: left; }

.column.small-centered, .small-centered.columns {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.small-uncenter,
.small-push-0,
.small-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0; }

@media screen and (min-width: 40em) {
  .medium-1 {
    width: 8.33333%; }
  .medium-push-1 {
    position: relative;
    left: 8.33333%; }
  .medium-pull-1 {
    position: relative;
    left: -8.33333%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-2 {
    width: 16.66667%; }
  .medium-push-2 {
    position: relative;
    left: 16.66667%; }
  .medium-pull-2 {
    position: relative;
    left: -16.66667%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-3 {
    width: 25%; }
  .medium-push-3 {
    position: relative;
    left: 25%; }
  .medium-pull-3 {
    position: relative;
    left: -25%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-push-4 {
    position: relative;
    left: 33.33333%; }
  .medium-pull-4 {
    position: relative;
    left: -33.33333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-push-5 {
    position: relative;
    left: 41.66667%; }
  .medium-pull-5 {
    position: relative;
    left: -41.66667%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-6 {
    width: 50%; }
  .medium-push-6 {
    position: relative;
    left: 50%; }
  .medium-pull-6 {
    position: relative;
    left: -50%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-push-7 {
    position: relative;
    left: 58.33333%; }
  .medium-pull-7 {
    position: relative;
    left: -58.33333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-push-8 {
    position: relative;
    left: 66.66667%; }
  .medium-pull-8 {
    position: relative;
    left: -66.66667%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-9 {
    width: 75%; }
  .medium-push-9 {
    position: relative;
    left: 75%; }
  .medium-pull-9 {
    position: relative;
    left: -75%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-push-10 {
    position: relative;
    left: 83.33333%; }
  .medium-pull-10 {
    position: relative;
    left: -83.33333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-push-11 {
    position: relative;
    left: 91.66667%; }
  .medium-pull-11 {
    position: relative;
    left: -91.66667%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    width: 100%;
    float: left; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
      float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    width: 50%;
    float: left; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
      float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    width: 33.33333%;
    float: left; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
      float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    width: 25%;
    float: left; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
      float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    width: 20%;
    float: left; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
      float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    width: 16.66667%;
    float: left; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
      float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    width: 14.28571%;
    float: left; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
      float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    width: 12.5%;
    float: left; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
      float: left; }
  .column.medium-centered, .medium-centered.columns {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .medium-uncenter,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0; } }

@media screen and (min-width: 64em) {
  .large-1 {
    width: 8.33333%; }
  .large-push-1 {
    position: relative;
    left: 8.33333%; }
  .large-pull-1 {
    position: relative;
    left: -8.33333%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-2 {
    width: 16.66667%; }
  .large-push-2 {
    position: relative;
    left: 16.66667%; }
  .large-pull-2 {
    position: relative;
    left: -16.66667%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .large-3 {
    width: 25%; }
  .large-push-3 {
    position: relative;
    left: 25%; }
  .large-pull-3 {
    position: relative;
    left: -25%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .large-4 {
    width: 33.33333%; }
  .large-push-4 {
    position: relative;
    left: 33.33333%; }
  .large-pull-4 {
    position: relative;
    left: -33.33333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-5 {
    width: 41.66667%; }
  .large-push-5 {
    position: relative;
    left: 41.66667%; }
  .large-pull-5 {
    position: relative;
    left: -41.66667%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .large-6 {
    width: 50%; }
  .large-push-6 {
    position: relative;
    left: 50%; }
  .large-pull-6 {
    position: relative;
    left: -50%; }
  .large-offset-5 {
    margin-left: 41.66667%; }
  .large-7 {
    width: 58.33333%; }
  .large-push-7 {
    position: relative;
    left: 58.33333%; }
  .large-pull-7 {
    position: relative;
    left: -58.33333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-8 {
    width: 66.66667%; }
  .large-push-8 {
    position: relative;
    left: 66.66667%; }
  .large-pull-8 {
    position: relative;
    left: -66.66667%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .large-9 {
    width: 75%; }
  .large-push-9 {
    position: relative;
    left: 75%; }
  .large-pull-9 {
    position: relative;
    left: -75%; }
  .large-offset-8 {
    margin-left: 66.66667%; }
  .large-10 {
    width: 83.33333%; }
  .large-push-10 {
    position: relative;
    left: 83.33333%; }
  .large-pull-10 {
    position: relative;
    left: -83.33333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-11 {
    width: 91.66667%; }
  .large-push-11 {
    position: relative;
    left: 91.66667%; }
  .large-pull-11 {
    position: relative;
    left: -91.66667%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .large-12 {
    width: 100%; }
  .large-offset-11 {
    margin-left: 91.66667%; }
  .large-up-1 > .column, .large-up-1 > .columns {
    width: 100%;
    float: left; }
    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
      float: left; }
  .large-up-2 > .column, .large-up-2 > .columns {
    width: 50%;
    float: left; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
      float: left; }
  .large-up-3 > .column, .large-up-3 > .columns {
    width: 33.33333%;
    float: left; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
      float: left; }
  .large-up-4 > .column, .large-up-4 > .columns {
    width: 25%;
    float: left; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
      float: left; }
  .large-up-5 > .column, .large-up-5 > .columns {
    width: 20%;
    float: left; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
      float: left; }
  .large-up-6 > .column, .large-up-6 > .columns {
    width: 16.66667%;
    float: left; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
      float: left; }
  .large-up-7 > .column, .large-up-7 > .columns {
    width: 14.28571%;
    float: left; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
      float: left; }
  .large-up-8 > .column, .large-up-8 > .columns {
    width: 12.5%;
    float: left; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
      float: left; }
  .column.large-centered, .large-centered.columns {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .large-uncenter,
  .large-push-0,
  .large-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0; } }
