<div class="upload-wrapper">
  <div class="pagina-titel">
    Upload afbeeldingen
  </div>

  <%= simple_form_for @image, html: {multipart: true} do |f| %>
    <% if @image.errors.any? %>
      <div id="errors">
        <h2>
          <%= pluralize(@image.errors.count, "error") %>
          prevented this image from saving
          <ul>
            <% @image.errors.full_message.each do |msg| %>
              <li><%= msg %> </li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <div class="inputBtnSection">
			<label class="fileUpload">
				<input id="uploadBtn" type="file" name="images[]" multiple="multiple" accept='image/*' required class="upload" />
        <span class="uploadBtn">Sleep hier bestanden naartoe<br> of klik om te bladeren.</span>
			</label>
		</div>
  <%= f.button :submit, class: "button" %>
  <% end %>

</div>
