<div class="upload-wrapper">
  <%= form_tag images_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
  ...

  <% #@query.each do |img| %>
   img.title
  <% #end %>

</div>
