<footer>
<ul id = 'footerLeft'>
  <li>
    <a href="wat.php">WAT</a>
  </li>
  <li>
    <a href="hoe.php">HOE</a>
  </li>
  <li>
    <a href="waarom.php">WAAROM</a>
  </li>
  <li>
    <a href="contact.php">CONTACT</a>
  </li>
</ul>

<ul id = 'footerRight'>
  <li>
    &copy;<%= Time.now.year %> <a href="http://www.gijsbotje.nl">Gijsbotje.</a>
  </li>
</ul>
</footer>
